{% extends 'default.html' %}
{% load static %}
{% load bootstrap5 %}
{% block 'titulo' %}Login{% endblock %}


{% block 'content' %}
<section class="home" style="background-image: url({% static 'images/img01.jpg' %});">
</section>
<br>
<br>
<div class="container fs-1" >
  <div class="container">{% bootstrap_messages %}</div>
  <div class="container border border-warning border-1 rounded-3">
    <form style="padding: 5rem;" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="user" class="form-label">Usuario</label>
        <input type="text" class="form-control fs-1" id="user" aria-describedby="emailHelp" name="usuario">
        <div id="userHelp" class="form-text fs-3">Nunca compartilhe seu usuario!</div>
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" id="senha" class="form-control fs-1" aria-describedby="passwordHelpBlock" name="senha">
        <div id="senhaHelp" class="form-text fs-3">
          Para uma senha senha forte use Letras maiusculas e minusculas, caractres especiais e numeros!
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark  fs-1 opacity-75">Sign In</button>
    </form>
    <p>Não tem uma conta? <a class="text-decoration-none" href="{% url 'register' %}">Clique aqui para criar</a></p>
  </div>

</div>
<br>
<br>
<footer class="fs-1 mt-4 text-muted border-top" style="text-align: center !important;">
  © 2021
</footer>
{% endblock %}